<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link href="static/css/common.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/top.js"></script>
</head>
<body>
	{{ template "header.html" }}

	<div class="informtext">

	<b>User Registration</b>
	<br>
	 We have sent an email to your address [ {{index . "address" }} ].
	<br> Confirm your email and click the URL in the email text.
	<br> Then the registration is done.
	</div>

	{{ template "footer.html" }}
</body>