<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link href="static/css/common.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/top.js"></script>
</head>
<body>
	{{ template "header.html" }}

	<b>User Registration</b>

	<form action="/submitUserRegist" method="post">

		<p></p>

		<table>
			<tr>
				<td>Email Address (your account)</td><td><input type="text" id="mailAddress" name="mailAddress" /> </td>
			</tr>
			<tr>
				<td>
					Password
				</td>
				<td>
					<input type="password" id="password" name="password"/>
				</td>
			</tr>
			<tr>
				<td>
					Confirm Password
				</td>
				<td>
					<input type="password" id="confPassword"  name="confPassword"/>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="SUBMIT" />
				</td>
			</tr>
		</table>
	</form>

	{{ template "footer.html" }}
</body>