<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TOP</title>
    <link href="static/css/common.css" rel="stylesheet" type="text/css">
    <link href="static/css/table.css" rel="stylesheet" type="text/css">
</head>

<body>
    {{ template "sw.html" }}
    {{ template "header.html" }}

    <div>

        <h1>User Information</h1>

        <table>
            <tr>
                <td>User Account</td>
                <td>***</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>

    </div>


    {{ template "footer.html" }}
</body>

</html>